.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.carouselHome {
  width: 90vw;
  height: 40vw;
  margin-left: 5vw;
  margin-top: 2vw;

}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50vw;
  height: auto;
  width: 100vw;
}

.comments {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
  min-height: 15vw;
  width: 100vw;
  background-color: rgb(238, 237, 237);
}
