.mainNav {
  display: flex;
  justify-content: flex-start;
}

.navLogoText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7vw;
  margin-left: .5vw;
}

.navbar-menu {
    width: 100%;
    height: 3.5vw;
    margin-top: 1vw;
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(143, 142, 142);
    font-family: Arial, Helvetica, sans-serif;
  }
  