.mainReg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.formReg {
    background-color: rgb(250, 250, 250);
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27vw;
    min-height: 65vh;
    height: auto;
}